<div class="card" style="width: 100%;">
    <img class="card-img-top text-center" src="../../../assets/images/3.svg" alt="Card image cap" width="20%"
        height="50%" class="rounded mx-auto d-block">
    <div class="card-body">
        <h5 class="card-title">Retails Solutions Assignment</h5>
        <h5>Scenario</h5>
        <p class="card-text">The HR department needs to track employee work hours and in particular the break times the
            employee is entitled to. There are different employee positions and work times</p>
        <h6 class="card-text"> All Employees are entitled to : </h6>
        <ul class="list-group">
            <li class="list-group-item">10 mins break per hour worked</li>
            <li class="list-group-item">For every 4 hours they get an additional 10min break</li>
        </ul>
        <h6 class="card-text">Managers are entitled to : </h6>
        <ul class="list-group">
            <li class="list-group-item">15mins break per hour worked</li>
        </ul>
        <h6 class="card-text">Nightshift workers are entitled to :</h6>
        <ul class="list-group">
            <li class="list-group-item">For every 2 hours they get an additional 10min break </li>
        </ul>

        <h5>Produce a system in a language and technology of your choosing but preferably .NET. What the system should
            do:</h5>
        <ol class="list-group list-group-flush">
            <li class="list-group-item">Allow employee work hours to be entered </li>
            <li class="list-group-item">Display a report of the hours worked along with the break times they are
                entitled to </li>
            <li class="list-group-item">There is no need to have a Database</li>
        </ol>
        <a routerLink="/home" class="btn btn-primary">Go to solution</a>
    </div>
</div>